:root {
    --black: #363f53;
    --white: #fff;
    --gray: #babec7;
    --background: #f8f8f8;
    --orange: #fca82a;
    --violet: #8b80b6;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: var(--black);
    background-color: var(--background);
}

#content {
    display: flex;
    flex-direction: column;
}

.funda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frage {
    font-size: 22px;
    width: 290px;
    margin: 20px;
}

.antworten {
    display: flex;
    flex-direction: column;
}

.antwort, .finish {
    background-color: var(--white);
    border-radius: 3px;
    height: 70px;
    width: 270px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    overflow: hidden;
}

.antwort.active, .finish {
    background-color: var(--violet);
    color: var(--white);
    box-shadow: 5px 5px 10px 0px var(--gray);
}

.scoreTable {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score {
    color: var(--orange);
    font-weight: 700;
    padding: 10px;
    margin: 0;
}

.scoreList {
    padding: 5px;
}

.score, .scoreList {
    width: 290px;
}

.scoreList div {
    border-radius: 3px;
    padding: 5px;
    background-color: var(--white);  
    margin: 3px auto;  
}

.scoreList div.active {
    border: 1px solid var(--orange);
}

.scoreList .limit {
    background-color: var(--orange);
}

.scoreList .limit.active {
    background-color: var(--violet);
    border: none;
}

.finish {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 640px) {
    #content {
        flex-direction: row;
    }
}